body {
  background-color: #774430;
}

.circle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.item {
  width: calc(33.33% - 20px);
  margin: 10px 10px 30px 10px;
}

.rectangle {
  display: flex;
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #fcf3f3;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .item {
    width: calc(50% - 20px);
  }
}

/* nav css */

.nav-items {
  display: flex;
  justify-content: flex-end; /* Align items to the end */
  align-items: center; /* Align items vertically in the container */
  background-color: #fcf3f3;
  padding: 20px;
}

.nav-items div {
  margin-left: 20px; /* Add margin between nav items */
}

.nav-items i {
  color: black;
}

.logo {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding: 10px;
  font-size: large;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background-color: #d9d9d9;
}

.dish {
  background-color: #d9d9d9;
  width: 90px;
  margin-top: 20px;
  padding: 5px;
  border-radius: 20px;
}


/* cart css */
.cart_container1{
    position:relative;
    /* display: flex; */
    /* flex-direction: column; */
    background-color: red;
    flex: 1;
    height: 50vh;

}
.cart_container2{
    /* position: relative; */
    display: flex;
    flex-direction:column;
    background-color:#fcf3f3;
    height: 50vh;
    flex: 1;
    align-items: center;
    justify-content: center;
}
button{
    display: flex;
    background-color: green;
    font-weight: 500;
    padding: 15px;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: large;
}
.cart_container{
    position: absolute;
    margin-top: 80px;
    display: flex;
    /* background-color: blue; */
    overflow: hidden;
    border-radius:20px;
}
.cart_container img{
    width: 100%;
    height: 100%;
    object-fit: cover
}

