.container {
    position: relative;
    display: flex;
}

.image_div {
    position: relative;
    flex: 1;
    max-width: 50%;
    padding: 20px;
}

.image_wrapper {
    position: relative;
}

.image_div img {
    width: 100%;
    height: auto;
    filter: blur(8px); /* Apply blur effect to the image */
}

.text_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.text_cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
    z-index: 1; /* Ensure the cover appears above the blurred image */
}

.login_container {
    flex: 1;
    padding: 20px;
    background-color: aquamarine;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 10px;
    width: 100%;
}

.form-group input,
.form-group button {
    width: 100%;
}

.form-group button {
    padding: 10px;
    background-color: green;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.text_overlay h2,
.text_overlay p {
    background-color: blue;
    padding: 2px;
    display: inline; /* Ensures background only wraps around content */
}
