*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body, html{
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: antiquewhite;
    height: 100vh;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #774430;
    border-radius: 10px;
    width: 100%;
    /* overflow: hidden; */
    
}
.image_div {
    flex:1;
    max-width: 50%;
    padding: 20px;
  
}
.image_div img{
    width: 100%;
    height: auto;
}

.login_container{
    flex: 1;
    padding: 20px;
     background-color: #774430; 
     max-height: 100%;
     height: 100%;
     overflow-y: auto;
     box-sizing: border-box;
    
}
.login_container h3{
display: flex;
justify-content: center;
margin-bottom: 20px;
color: antiquewhite;
font-size: 3.4vw;
}
.form-group{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(165, 116, 42);
    border-radius: 5px;
    outline: none;
}
.form-group button{
    margin-top: 20px;
    width: auto;
    padding:  15px 45px;
    background:linear-gradient(45deg,rgb(176, 114, 32),brown);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}


.form-group a{
    color: antiquewhite;
    margin-top: 20px;  
    text-decoration: none;
}
.checkbox{
    display: flex;
}

.checkbox a,.forgotPass{
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: antiquewhite;
}
.checkbox p{
    color: antiquewhite;

}
.forgotPass:hover{
    color: rgb(221, 177, 177);
    text-decoration: underline;
    transform: scale(0.9);
}